body {
    background-color: #FFF4DD; /* You can use any color name, hex code, or rgb value */
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 300px;
    height: auto;
}

.description {
    max-width: 800px;
    margin: 0 auto;               /* centers the box */
    text-align: center;           /* centers the text inside */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    padding: 0 20px;              /* optional: for spacing on small screens */
}

.cautionText {
    max-width: 800px;
    margin: 0 auto;               /* centers the box */
    text-align: center;           /* centers the text inside */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    padding: 0 20px;              /* optional: for spacing on small screens */
}

.instructions {
    max-width: 800px;
    margin: 0 auto;               /* centers the box */
    text-align: center;           /* centers the text inside */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    padding: 0 20px;              /* optional: for spacing on small screens */
}

.checkbox-item {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}

